* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Segoe UI", "Segoe", "Calibri", "Roboto", "Droid Sans", "Meiryo", "Microsoft YaHei", Arial, sans-serif;
}

.main-nav {
    height: 50px;
    z-index: 100;
    background: #2D3737;
    font-weight: 200;

    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    li {
        min-width: 12em;
        font-size: 1em;
        text-align: center;
        cursor: pointer;

    }

    a {
        display: block;
        font-weight: 300;
        font-size: 0.9em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .1em;
        line-height: 50px;
        height: 45px;
        color: #FFF;

        &.about-link {
            border-bottom: 5px solid #41D6C3;
        }

        &:not(.about-link) {
        }

        &:not(.about-link):hover,
        &:not(.about-link):focus {
            border-bottom: 5px solid #C8D2D2;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
        width: 70%;
    }

    h1 {
        text-align: center;
        height: 40px;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 0.03em;
        padding-top: 30px;
    }

    h2 {
        text-align: center;
        height: 20px;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.03em;
        padding-bottom: 20px;
    }

    p {
        font-weight: 300;
    }
}

.sub-nav {
    padding-top: 30px;

    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    li {
        min-width: 6em;
        font-size: 1em;
        text-align: center;
    }

    a {
        color: #000;
    }
}
